body{
background-image: url("https://cdn.pixabay.com/photo/2017/09/24/11/59/password-2781614_960_720.jpg");
 background-color: white;
}
h1{
    color:purple;
    position: relative;
    left: 500px;
}
h3{
    color:red;
    position: relative;
    left: 450px;
}
form{
	position :relative;
	top :450px;
	left :255px;
}
h1 {
    position:relative;
    left:430px;

}
img {
    position :relative;
    left: 250px;
	
}
div.section{
    position: relative;
	height:20px;
	width :150px;
	border :3px solid white;
	margin : 7px;
    float:left;
    left: 250px;
}
.amp-wp-header a {
    color:white;
}
a{
    color:white;
}

