body{
	background: aqua ;
}
h1{
    color:purple;
    position: relative;
    left: 500px;
}
h3{
    color:red;
    position: relative;
    left: 450px;
}
form{
	position :relative;
	top :450px;
	left :255px;
}
h1 {
    position:relative;
    left:430px;

}
img {
    position :relative;
    left: 250px;
	
}
div.section{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border :3px solid black;
    margin : 7px;
    float:left;
}

